__pycache__/
.mypy_cache/
.vscode/
*.pyc
*.pyo
dist/
build/
bin/test
carm_results
*.csv
bin/
Results
cache
legacy_bench_gen/bench_*
GPU/Bench/Bench
Bench/Bench
venv/
*.egg-info/

# Generated code
test_bench/microbenchmarks.h
test_bench/test_bench.s

# Binaries
architecture/tests/**/*
!architecture/tests/**/*.c
!architecture/tests/**/*.h
!architecture/tests/**/
test_bench/benchmark
demo/gemm_demos
